html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: grid;
    font-family: Geneva,serif;
    margin:0;
    padding:0;
    background-color: #F1E9D2;
    scroll-behavior: smooth;
}

h1 {
    font-size:6rem;
    font-weight: bold;
    -webkit-text-stroke: 3px #F1E9D2;
    margin:0;
    color: transparent;
    font-family: "Futura", sans-serif;
}

h2 {
    font-size:40px;
    margin:0;
    color: #382901;
    font-family: "Courier New", serif;
    font-weight: lighter;
    margin-bottom: 32px;
    margin-top: 64px;
}

h3 {
    font-size:32px;
    margin:0;
    color: #382901;
    font-family: "Courier New", serif;
    font-weight: lighter;
}

p {
    margin:0;
    color: #382901;
}

a {
    color: #016611;
    text-decoration: none;
}

a:hover {
    color: #816611;
}

.overlay {
    padding: 60px 60px 100px 60px;
    background-color: black;
    opacity: 75%;
}

.overlay h1 {
    padding: 12px 0;
}

.address p {
    color: #F1E9D2;
    font-size: 1.25rem;
    padding: 0 16px;
}

#hero {
    display: grid;
    position: relative;
    background-image: url("https://kz-stylist.s3.us-east-2.amazonaws.com/assets/hero.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: solid #F1E9D2 5px;
}

.container {
    padding: 24px;
    display: grid;
    gap: 48px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.cta {
    background-color: transparent;
    font-size: 1.25rem;
    color: #382901;
    border: #382901 ridge 2px;
    border-radius: 6px;
    padding: 4px 8px;
    text-align: center;
}

.cta:hover {
    border: #382901 double 2px;
    background-color: #382901;
    color: #F1E9D2;
    border-radius: 6px;
}

.bio-text {
    font-size: 26px;
    color: #382901;
}

#photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.photo {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    max-height: 600px;
}

.offset-img {
    translate: 0 -20%;
}

.contact-text {
    font-size: 24px
}

@media screen and (max-width: 800px) {
    .container{
        padding: 16px;
    }

    .hidden-on-mobile {
        display: none;
    }

    .bio-text {
        font-size: 18px;
    }

    #photos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 0;
    }

    h1 {
        font-size: 3rem;
    }

    .offset-img {
        translate: 0;
    }

    .contact-text {
        font-size: 18px
    }
}
